body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #5708d8, #604fb6);
    color: white;
    padding: 20px;
    text-align: center;
    flex: 1;
    border-radius: 20px;
}

.result h2 {
    font-size: 1.5em;
}

.score {
    margin: 20px;
    border-radius: 50%;
    text-align: center;

}

.score-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-left: 30%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(180deg, #4f2691, #3f21d4);
    color: white;
}

.number {
    display: block;
    font-size: 4em;
    font-weight: bold;
}

.total {
    display: block;
    font-size: 1em;
}

.status {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.info {
    font-size: 0.9em;
}

.summary {
    padding: 20px;
    background-color: #fff;
    text-align: left;
    border-left: 1px solid #eaeaea;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.1em;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.item:last-child {
    border-bottom: none;
}

.label {
    color: #57606f;
}

.item .reaction {
    color: #ff6b6b;
    display: flex;
    align-items: center;
}

.item .memory {
    color: #feca57;
    display: flex;
    align-items: center;
}

.item .verbal  {
    color: #1dd1a1;
    display: flex;
    align-items: center;
}

.item .visual  {
    color: #54a0ff;
    display: flex;
    align-items: center;
}

.item1{
    background-color: #e7bda612;
}

.item2{
    background-color: #e7d40812;
}

.item3{
    background-color: #26b36112;
}

.item4{
    background-color: #2b4aa012;
}

.continue {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #222f3e;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }

    .result {
        flex: 1;
    }

    .summary {
        flex: 1;
    }

    .attribution{
        flex: 1;
    }
}

.attribution{
    display: block;
    position: absolute;
    margin: 40px;
    text-align: center;
        
}

.summaryname h2{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

img{
    margin: 5px;
}